@model InsuranceApp.ViewModels.CustomersPolicyViewModel

@{
    ViewBag.Title = "DetailUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayFor(model => model.CustomerName)'s Detail Information</h6>
    </div>
    <div class="card-body">
        <div class="col-md-12" style="padding-left:350px;">
         
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <table cellpadding="15">
                        <tr>
                            <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerName):
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>
                    </td>
                    </tr>
                    <tr>
                        <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.PolicyName):
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.PolicyName)
                    </dd>
                    </td>
                    </tr>
                    <tr>
                        <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.Payment):
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.Payment)
                    </dd>
                    </td>
                    </tr>
                    <tr>
                        <td>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalInstallment)
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.TotalInstallment)
                    </dd>
                    </td>
                    </tr>

                    <tr>
                        <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    </td>
                    </tr>

                    </table>
                </dl>
            </div>
            <div class="col-md-6">

                <dl>
                    <table cellpadding="15">
                        <tr>
                            <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    </td>
                    </tr>
                        <tr>
                            <td>
                    <dt>
                        NRC Number:
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.NRCnumber)
                    </dd>

                    </td>
                    </tr>



                    <tr>
                        <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.Norminee)
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.Norminee)
                    </dd>
                    </td>
                    </tr>

                    <tr>
                        <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.Related)
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.Related)
                    </dd>
                    </td>
                    </tr>
                    <tr>
                        <td>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    </td>
                    <td>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    </td>
                    </tr>
                    </table>
                </dl>

            </div>
        </div>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>


