@model InsuranceApp.ViewModels.PolicyViewModel

@{
    ViewBag.Title = "CreatePolicy";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add  Policies </h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Policy, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="float:right;">
                                    @Html.EditorFor(model => model.Policy, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Policy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="float:right;">
                                    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Catagories, "Id", "CategoryName"), "Select a policy", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="float:right;">
                                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="float:right;">
                                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8" style="float:right;">
                                    <textarea cols="35" data-val="true" data-val-required="Please enter Description." htmlattributes="{ class = form-control }" id="Description" name="Description" rows="4" style="border: 1px solid #d1d3e2;color: #6e707e;"></textarea>

                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br /><br /><br />
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8" style="float:right;">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="col-lg-6"></div>

              
            </div>
        </div>


    </div>
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
